numpy
pygame
pyxid2
ftd2xx # needs also hardware FTDI chip drivers https://ftdichip.com/drivers/d2xx-drivers/
pyserial
playsound
matplotlib
easygui
pypref # storing last user, etc
pandas
python-vlc # demo mode music
# psychopy # for experiments
debugpy # to debug subprocess lanch of game